/* Hoja con estilos basicos para Pre-entrega N°2*/
/* No es el diseño definitivo, solo temporal*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Kantumruy Pro", sans-serif;
}

body header{
    width:100%;
    padding:0 10%;
    background-color:rgb(95, 95, 95);
}

body header #main_nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(95, 95, 95)!important;
}

body header #main_nav a{
    text-decoration: none;
}

body header #main_nav a h1{
    padding: .5em 1.5em .5em 0;
    margin:0;
    text-align:center;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    color:rgb(255, 148, 49);
}

header #main_nav a .nav-link{
    padding-left:2em;
}

header #main_nav .container-fluid{
    Padding:0;
}

header #main_nav .container-fluid .navbar-nav li a{
    color:rgb(180, 180, 180);
    padding-left: 1em;
    padding-right: 1em;
}

.search-bar{
    padding-bottom:1em;
}

h2{
    padding:2em;
    text-align:center;
    font-weight:400;
}

h3{
    font-size:1.2em;
    padding-bottom:2em;
    font-weight:400;
}

header .verCarrito{
    background-color:rgb(107, 194, 21);
    border-width: 0;
    border-radius:30px;
    color:white;
    font-size:1em;
    font-weight: 600;
    padding:.5em 1em;
}
header .verCarrito:hover{
    background-color:rgb(75, 146, 4);
}

header .volverHome{ 
    background-color:rgb(160, 160, 160);
    color:white;
    font-size:1em;
    font-weight: 600;
    padding:.5em 1em;
}

.agregarAlCarro{
    background-color:rgb(255, 146, 45);
    border-width: 0;
    border-radius:2em;
    color:white;
    font-size:1em;
    font-weight: 400;
    padding:.5em 1em;
}

.agregarAlCarro:hover{
    background-color:rgb(214, 61, 0);
    font-weight: 600;
}

article .agregarUnProducto, .sacarUnProducto{
    margin: 0 0 1em 0;
    background-color: rgb(157, 192, 255);
    border-color: rgb(68, 68, 155);
    border-radius:1em;
    width:1.5em;
    height:1.5em;
    font-size:1.3em;
}

.listaProductos{
    font-family: "Fredoka", sans-serif;
    display: grid;
    background-color: rgb(230, 230, 230);
    grid-template-columns: 1fr 1fr 1fr;
    gap:0 2em;
    text-align:center;
    width:100%;
    padding: 3em 10% 0 10%;
}

.listaProductos article{
    padding:0;
    height:auto;
}

.oculto{
    display:none;
}

.listaCarrito{
 background-color: rgb(215, 236, 255);
 height:auto;
 padding:2em 2em 2em 2.5em;
 margin:2em 15%;
 border-radius:30px;
}

.productoEnCarrito {
    padding:0;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.productoEnCarrito div p{
    margin:0;
}

.productoEnCarrito li{
    list-style: none;
    font-size: 1.2em;
    font-weight: 600;
    padding:1em 0;
}

body .listaCarrito .productoEnCarrito div{
    margin:0;
}

.totalCarrito{
    display:grid;
    grid-template-columns: 5fr 1fr;
    margin-top:2em;
    font-weight: 700;
    font: size 1.5em;
}

.listaCarrito .espacioBotones{
    padding-top:2em;
    display:flex;
    justify-content: space-between;
}

.listaCarrito button{
    margin-top:.5em;
    border-radius:2em;
}

.operacionVaciar{
    width:8em;
    padding: .5em .5em;
    border-color:lightgray;
    background-color: white;
}

.operacionFinalizar{
    padding: .5em 1.5em;
    border-color:brown;
    color:white;
    font-weight: 600;
    background-color: red;
}

.descripcionSeccion{
padding:0 10%;
}

.compraFinalizada{
    background-color: rgb(192, 255, 192);
}
.imagenProd{
    height:50%;
    width:50%;
    object-fit: contain;
}

#search-btn{
    background-color:rgb(255, 148, 49);
    border-radius: 20px;
    color:rgb(255, 255, 255);
}

#search-btn:hover{
    background-color:rgb(231, 114, 3);
}

h4{
    padding-top:1em;
}