/* Hoja con estilos basicos para Pre-entrega N°2*/
/* No es el diseño definitivo, solo temporal*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Kantumruy Pro", sans-serif;
}

header{
    width:100%;
}

header nav{
    width:100%;
    padding:0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(51, 51, 51);
}

h1{
    padding:.5em;
    text-align:center;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 100;
    font-size: 2em;
    color:white;
}

h2{
    padding:2em;
    text-align:center;
    font-weight:400;
}

h3{
    padding-bottom:2em;
    font-weight:400;
}

header .verCarrito{
    background-color:rgb(107, 194, 21);
    border-color:rgb(0, 77, 0);
    border-radius:5px;
    color:white;
    font-size:1em;
    font-weight: 600;
    padding:.5em 1em;
}

header .volverHome{ 
    background-color:rgb(51, 82, 221);
    border-color:black;
    border-radius:2em;
    color:white;
    font-size:1em;
    font-weight: 600;
    padding:.5em 1em;
}

.agregarAlCarro{
    background-color:rgb(255, 146, 45);
    border-color:rgb(255, 102, 0);
    border-radius:2em;
    color:white;
    font-size:1em;
    font-weight: 600;
    padding:.5em 1em;
}

article .agregarUnProducto, .sacarUnProducto{
    margin-top: 0;
    background-color: rgb(157, 192, 255);
    border-color: rgb(68, 68, 155);
    border-radius:1em;
    width:1.5em;
    height:1.5em;
    font-size:1.3em;
}

.listaProductos{
    font-family: "Fredoka", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1.5em 1em;
    text-align:center;
    width:100%;
    padding: 3em 10%;
}

.oculto{
    display:none;
}

.listaCarrito{
 background-color: rgb(215, 236, 255);
 height:auto;
 padding:2em 1em;
 margin:2em 15%;
}

.productoEnCarrito {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.productoEnCarrito li{
    list-style: none;
    font-size: 1.2em;
    font-weight: 600;
    padding:1em 0;
}

.totalCarrito{
    display:grid;
    grid-template-columns: 5fr 1fr;
}

.totalCarrito{
    margin-top:2em;
    font-weight: 700;
    font: size 1.5em;
}

.listaCarrito .espacioBotones{
    padding-top:2em;
    display:flex;
    justify-content: space-between;
}

.listaCarrito button{
    margin-top:.5em;
    border-radius:2em;
}

.operacionVaciar{
    width:8em;
    padding: .5em .5em;
    border-color:lightgray;
    background-color: white;
}

.operacionFinalizar{
    padding: .5em 1.5em;
    border-color:brown;
    color:white;
    font-weight: 600;
    background-color: red;
}

.descripcionSeccion{
padding:0 10%;
}

.compraFinalizada{
    background-color: rgb(192, 255, 192);
}
.imagenProd{
    height:50%;
    width:50%;
    object-fit: cover;
}